.box {
    position: relative;
}

.btn-remove {
    position: absolute;
    right: 5px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.644);
    padding: 0px;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn-remove:hover {
    color: rgba(128, 128, 128, 0.87);
    transition: 0.3s;
}